n8n/workflows/high-value-alert.json
{
  "name": "High Value Bounty Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://web:8000/api/v1/bounties/top_opportunities/",
        "options": {}
      },
      "id": "get-top-opportunities",
      "name": "Get Top Opportunities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const bounties = $input.all();\nconst highValue = bounties.filter(b => parseFloat(b.json.bounty_amount_usd || 0) > 500);\nif (highValue.length === 0) {\n  return [{ json: { hasHighValue: false, count: 0, bounties: [] } }];\n}\nreturn [{ json: { hasHighValue: true, count: highValue.length, bounties: highValue.map(b => b.json) } }];"
      },
      "id": "filter-high-value",
      "name": "Filter High Value",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-has-high-value",
              "leftValue": "={{ $json.hasHighValue }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-high-value",
      "name": "IF High Value Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst lines = data.bounties.slice(0, 10).map((b, i) => {\n  const amount = b.bounty_amount_usd;\n  const title = (b.title || 'Untitled').slice(0, 60);\n  const platform = b.platform || 'unknown';\n  const url = b.url || '';\n  return `${i+1}. \ud83d\udcb5 *$${amount}* \u2014 ${title}\\n   \ud83d\udd17 ${url} (${platform})`;\n});\nconst msg = `\ud83d\udea8 *High-Value Bounty Alert!*\\n\\nFound *${data.count}* bounties over $500:\\n\\n${lines.join('\\n\\n')}\\n\\n\u26a1 Act fast \u2014 high-value bounties fill up quickly!`;\nreturn [{ json: { text: msg } }];"
      },
      "id": "format-alert",
      "name": "Format Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-telegram",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1340,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Top Opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Top Opportunities": {
      "main": [
        [
          {
            "node": "Filter High Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter High Value": {
      "main": [
        [
          {
            "node": "IF High Value Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF High Value Found": {
      "main": [
        [
          {
            "node": "Format Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Format Alert": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-19T00:00:00.000Z",
  "versionId": "1",
  "id": "9ee07d94-f549-49c5-b7a3-25dec66d91d0"
}